:root {
    --primary_color: #F6FDC5;
    --secondary_color: #FF901F;
}

* {
    background-color: var(--primary_color);
    margin: 0;
    padding: 0;
    border: none; 
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100vh 90vh;
    grid-template-areas:
    "hea hea hea"
    "sec sec sec"
    "sec sec sec";
}

.shopping_cart {
    grid-area: sca;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.shopping_cart img {
    height: auto;
    width: 2rem;
}

.hover_img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.hover_img:hover {
    opacity: 0.5;
    transition: .3s ease;
    background-blend-mode: darken;
}

.search_container {
    grid-area: inp;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_container input {
    background-color: #C1C3B5;
    margin: 5px;
    grid-area: inp;
    width: 70%;
    height: 30px;
    border-radius: 1rem; 
    padding: 0.3rem;
    font-size: 1rem;
    border: 2px solid black;
}

.search_container button {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem; 
    border-width: 5px;
    border: none;
}

header {
    background-color: black;
    grid-area: hea;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-areas: 
    "h1 inp sca"
    "nav nav nav"
    ;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
}

header h1 a {
    color: var(--secondary_color);
    font-size: 5vw;
    font-weight: bolder;
    text-decoration: none;
}

nav {
    background-color: yellow;
    grid-area: nav;
}

nav li {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section {
    background-color: rgb(90, 17, 168);
    grid-area: sec;
}



@media screen and (min-width: 800px) {

* {
    background-color: pink;
}


}