@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
    --primary_color: #3498db;
    --secondary_color: #e67e22;
    --third_color: #C1C3B5;
}

* {
    background-color: var(--primary_color);
    margin: 0;
    padding: 0;
    border: none; 
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 10vh 800px 150px;
    grid-template-areas:
    "hea hea hea"
    "sec sec sec"
    "sec sec sec"
    "foo foo foo";
}

#subwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #deeefa;
    border-top: 3px solid black;
}

#category {
    display: none;
    background-color: green;
    width: 75vw;
    height: 60vh;
    margin-right: auto;
    margin-left: auto;
}

.product_card {
    background-color: var(--third_color);
    height: 10rem;
    width: 10rem;
    border-radius: 2rem;
    margin: 25px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.product_card img {
    height: 50%;
    width: 50%;
    border-radius: 15rem;
    background-color: transparent;
    margin: 10px;
    border: 2px solid #87887e;
}

.product_card h3 {
    background-color: transparent;
    color: var(--secondary_color);
    font-weight: bolder;
    font-size: 1.25rem;
    margin: 3px;
}

.product_card p {
    background-color: transparent;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
    margin: 3px;
}

.product_card:hover {
    background-color: #adafa2;
}


.product_hidden {
    display: none;
}

.shopping_cart_icon {
    grid-area: sca;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.shopping_cart_icon img {
    height: auto;
    width: 2rem;
}

.hover_img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--third_color);
    border: 1.5px solid black;
}

.hover_img:hover {
    opacity: 0.5;
    transition: .3s ease;
    background-blend-mode: darken;
}

.search_container {
    grid-area: inp;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_container input {
    background-color: var(--third_color);
    margin: 5px;
    grid-area: inp;
    width: 60%;
    height: 1.5rem;
    border-radius: 1rem; 
<<<<<<< Updated upstream
    padding: 0.3rem;
    font-size: 1rem;
    border: 2px solid black;
=======
    padding: 0.5rem;
>>>>>>> Stashed changes
}

.search_container button {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem; 
    border-width: 5px;
    border: none;
}

header {
    grid-area: hea;
    display: grid;
    grid-template-rows: 1fr 75px;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-areas: 
    "h1 inp sca"
    "nav nav nav"
    ;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    margin: 10px;
}

header h1 a {
    color: var(--secondary_color);
    font-size: 7vw;
    font-weight: bolder;
    text-decoration: none;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 3px solid black;
}

nav li {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav p {
    color: var(--secondary_color);
    font-size: 6.5vw;
    font-weight: bolder;
    font-family: "Kanit", sans-serif;
    background-color: transparent;
}

section {
    grid-area: sec;
}

footer {
    grid-area: foo;
    display: grid;
    grid-template-areas: 
    ""
    ""
    ;
}

a {
    color: var(--secondary_color);
    font-size: 6.5vw;
    font-weight: bolder;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    background-color: transparent;
}


@media screen and (min-width: 800px) {

* {
    background-color: pink;
}


}